.quizz-page {
  padding: 1px 0;
}
.quizz-page .banner {
  width: 100vw;
  height: 142px;

  position: relative;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57));
}

.quizz-page .banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.quizz-page .banner h2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  font-size: 19px;
  line-height: 22px;
}

.quizz-page .quizz,
.quizz-page .quizz-result {
  width: 100vw;
  padding: 5%;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.quizz-page .quizz-question {
  width: 100%;
  background: #ec362d;

  padding: 22px 15px;
  margin-bottom: 12px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.quizz-page .quizz-question h3 {
  color: #fff;
  font-weight: 700;
  font-size: 19px;
  line-height: 22px;
  text-align: center;

  text-shadow: 1px 1px 2px #000;
}

.quizz-page .quizz .quizz-options {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  align-items: flex-start;
  gap: 12px;
}

.quizz-page .quizz .quizz-option {
  width: calc(50% - 6px);
}

.quizz-page .quizz.played .quizz-option:not(.selected) {
  opacity: 0.3;
}

.quizz-page .quizz .quizz-option img {
  width: 100%;
  aspect-ratio: 1.44;
  object-fit: cover;
}

.quizz-page .quizz .quizz-option p {
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
}

.quizz-page .quizz.played .quizz-option {
  color: #ff4b4b;
}

.quizz-page .quizz.played .quizz-option.correct {
  color: #009c22;
}

.quizz-page .quizz-result .result-container p {
  margin-top: 9px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;

  color: #484848;
}

@media (min-width: 1100px) {
  .quizz-page .banner {
    height: 227px;
  }

  .quizz-page .banner h2 {
    font-size: 39px;
    line-height: 46px;
  }

  .quizz-page .quizz,
  .quizz-page .quizz-result {
    padding: 28px 36px;
    width: 759px;
    margin: 42px auto;
  }

  .quizz-page .quizz .quizz-question {
    height: 138px;
    margin-bottom: 19px;
  }

  .quizz-page .quizz .quizz-question h3 {
    font-size: 23px;
    line-height: 27px;
  }

  .quizz-page .quizz .quizz-option {
    width: 330px;
  }

  .quizz-page .quizz .quizz-option img {
    height: 175px;
    object-fit: cover;
  }

  .quizz-page .quizz .quizz-option p {
    font-size: 20px;
    line-height: 23px;
  }

  .quizz-page .quizz-result {
    width: 759px;
    margin: 44px auto;
  }

  .quizz-page .quizz-result .result-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 21px;
  }

  .quizz-page .quizz-result .result-container img {
    width: 364px;
    height: 273px;
  }

  .quizz-page .quizz-result .result-container p {
    margin-top: 0;
    font-size: 19px;
    line-height: 25px;
  }
}
