@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background: #fafafa;
}

header {
  width: 100vw;
  height: 69px;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #ec362d;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

h1 {
  color: #fff;
  font-weight: 700;
  font-size: 37px;
  line-height: 43px;
}

main {
  margin: 69px 0;
}

.loader {
  width: 100%;
  height: calc(100vh - 138px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.loader p {
  color: #ec362d;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.nav-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 9px;
  margin-top: 34px;
}

.nav-buttons .red-btn {
  width: 220px;
  height: 44px;

  font-size: 18px;
  line-height: 21px;
  text-align: center;

  color: #fff5f4;

  background: #ec362d;
  border-radius: 15px;
}

.nav-buttons .btn {
  color: #818181;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

@media (min-width: 1100px) {
  main:has(.quizzes-page, .success-page) {
    width: 1051px;
    margin: 69px auto;
  }

  .nav-buttons {
    gap: 16px;
    margin-top: 57px;
  }

  .nav-buttons .red-btn {
    width: 260px;
    height: 52px;

    font-size: 21px;
    line-height: 25px;
  }

  .nav-buttons .btn {
    font-size: 21px;
    line-height: 25px;
  }
}
