@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background: #fafafa;
}

header {
  width: 100vw;
  height: 69px;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #ec362d;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

h1 {
  color: #fff;
  font-weight: 700;
  font-size: 37px;
  line-height: 43px;
}

main {
  margin: 69px 0;
}

@media (min-width: 1100px) {
  main {
    width: 1051px;
    margin: 69px auto;
  }
}
